// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#symbs{
  display: inline;
}

.green{
  color: rgb(50,200,50);
}

.yellow{
  color: rgb(225,225,0);
}

.red{
  color: rgb(255,0,0);
}